<!DOCTYPE html>
<html>
  <head>
    <title>Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <h1><%= project.name %></h1>
        <% if (project.goal) { %>
        <h2>Goal: <%= project.goal %></h2>
        <% } %>
        <h2>Tasks:</h2>
        <% project.tasks.forEach(function(t) { %>
          <% if (!t.completed) { %>
          <form action="/tasks/<%= t._id %>?_method=PUT" method="POST">
          <ul>
            <li><input type="submit" value="done"><%= t.name %></li>
          </ul>
          </form>
          <% } %> 
        <% }); %>
        <form action="/projects/<%= project._id %>/tasks" method="POST">
          <input type="text" name="name">
          <input type="submit" value="+">
        </form>
        <h2>Notes:</h2>
        <% project.notes.forEach(function(n) { %>
          <h4><%= n.content %></h4>
        <% }); %>
        <form action="/projects/<%= project._id %>/notes" method="POST">
          <input type="text" name="content">
          <input type="submit" value="+">
        </form>
        <br>
        <br>
        
        <h2>Completed Tasks:</h2>
        <% project.tasks.forEach(function(t) { %>
          <% if (t.completed) { %>
            <h4><%= t.name %></h4>
          <% } %> 
        <% }); %>

        <form class="deletebtn" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE THIS PROJECT</button>
        </form>
    </main>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
    
  </body>
</html>